<div class="logo">three-hundred and sixty five </div><br>
<br>
<hr class="rule">

<!-- //////////////  ITERATING OVER THE FONTS   ///////////////// -->


<%#%>
<%#%>
<%# next if use regex for file end %>
<%#arr = ['Conv_today-sans-serif-extra-light']%>
  <%# arr.each do |font| %>

<!-- <h1 style="color:blue">This is a Blue Heading</h1> -->
<% now = Date.today %>
<% jan_1_1 = Date.new(2015,1,1) %>
<% dayes = (jan_1_1..Date.new(2015,1,2)).to_a %>
<% sorted_dayes = dayes.sort {|x,y| y <=> x }%>
<% Day.load_fonts.each do |font| %>
 <%= font%>
  <% end %>

<% arr = [5, 6]%>
<% date_font_hash = {} %>
  <% sorted_dayes.each do |single_day| %>
<% arr.each do |font| %>
    <% date_font_hash[single_day] ||= font unless date_font_hash[single_day] == font %>
  <% end %>
<% end %>
<%= date_font_hash %>


<%= date_font_hash.each do |single_day, font| %>
  <div class="day1" style="font-family:<%= font %>">&</div>
  <div class="dayoftheweek"><%= single_day.strftime('%A').upcase %></div>
  <div class="date"><%= single_day.strftime('%-d') %></div>
  <div class="monyear"><%= single_day.strftime('%B, %Y') %></div><br> 
  <hr width="50%">
<% end %>

